<form action="/square/results">
  <div>
    <label for="a">Enter a number</label>
  <div>
    <input type="text" name="users_number" id="a" placeholder="What number do you want to take the square of?">
  <div>
  <button>Calculate square</button>
</form>
