<h1>
Payment Results
</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
   <%= @apr_display %>
  </dd>

 <dt>
    Number of Years
  </dt>
  <dd>
   <%= @years %>
  </dd>

   <dt>
    Principal
  </dt>
  <dd>
   <%= @principal_display %>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%= @the_result_display %>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
