<form action="/payment/results">
  <div>
    <label for="c">APR</label>
  <div>
    <input type="text" name="user_apr" id="c" placeholder="E.g. 5.42">
  <div>
    <label for="d">Number of years</label>
  <div>
    <input type="text" name="user_years" id="d" placeholder="How many years to repay?">
  <div>
    <label for="e">Principal</label>
  <div>
    <input type="text" name="user_pv" id="e" placeholder="How much principal?">
  <div>
  <button>Calculate monthly payment</button>
</form>
