<form action="/random/results">
  <div>
    <label for="f">Minimum</label>
  <div>
    <input type="text" name="user_min" id="f" placeholder="E.g. 1.5">
  <div>
    <label for="g">Maximum</label>
  <div>
    <input type="text" name="user_max" id="g" placeholder="E.g. 4.5">
  <div>
   
  <button>Pick random number</button>
</form>
