
<form action="/square_root/results">
  <div>
    <label for="b">Enter a number</label>
  <div>
    <input type="text" name="users_number" id="b" placeholder="What number do you want to take the square root of?">
  <div>
  <button>Calculate square root</button>
</form>
